<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ndky.webtextile.mapper.UserMapper">

    <select id="getUserByUserId" resultType="User">
        SELECT *
        FROM tb_user
        WHERE user_id=#{userId}
    </select>

    <select id="getRoleIdsByUserId" resultType="String">
        SELECT r.role_id
        FROM tb_user AS u,tb_role AS r,tb_user_role AS ur
        WHERE u.user_id = ur.user_id
        AND r.role_id = ur.role_id
        AND u.user_id = #{userId}
    </select>

    <select id="getRoleNamesByUserId" parameterType="String" resultType="String">
        SELECT r.role_desc
        FROM tb_user AS u,tb_role AS r,tb_user_role AS ur
        WHERE u.user_id = ur.user_id
        AND r.role_id = ur.role_id
        AND u.user_id = #{userId}
    </select>
</mapper>